@import './styles/null.css';

*,
*::after,
*::before {
  box-sizing: border-box;
}

button {
  font-family: inherit;
  border: 0;
  outline: 0;
  margin: 0;
}

#root {
  overflow: hidden;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;

  /* display: grid;
  gap: 20px; */
}

.header-wrapper {
  background-color: #ffffff;
}

.pretty-button {
  background: linear-gradient(98deg, #5c1ee0 0%, #1373e4 100%);
  border-radius: 8px;
  padding: 12px 24px;

  width: fit-content;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;

  color: #fff;

  cursor: pointer;
}

.pretty-button:disabled {
  background: #d3d4d8;
  cursor: not-allowed;
}

.header {
  height: 64px;
  margin: 0 16px;
  background-color: #ffffff;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-buttons {
  display: flex;
  column-gap: 32px;
}

.balance {
  display: flex;
  column-gap: 8px;

  height: 40px;

  background: #fafafc;
  align-items: center;
  padding: 0 12px;
  border: 1px solid #d3d4d8;
  border-radius: 8px;
}

.balance_quipu {
  color: #8b90a0;

  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.balance_numbers {
  color: #232735;

  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.balance_buy-more {
  background: -webkit-linear-gradient(#5c1ee0, #1373e4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;

  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.intro {
  display: flex;
  flex-direction: column;

  margin: clamp(40px, 3vw, 80px) 0;
}

.slick-slide > div {
  display: grid;
  place-items: center;

  margin: 12px 0;
}

.intro-title {
  font-weight: 600;
  font-size: clamp(88px, 5vw, 160px);
  line-height: 100%;
  text-align: center;

  background: -webkit-linear-gradient(#5c1ee0, #1373e4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-description {
  color: #232735;
  font-weight: 600;
  font-size: clamp(24px, 2vw, 32px);
  line-height: 48px;

  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 16px;
  gap: 16px 32px;
  align-items: stretch;
}

main .box {
  max-width: none;
}

main .box:first-of-type {
  grid-column: 1/-2;
}

.rules-wrapper {
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.rules-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.rules-point {
  font-size: 12px;
}

.rules-logic {
  width: 50%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.rules-title {
  color: #232735;

  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.you-staked_wrapper {
  height: 100%;
  padding: 24px;
}

.you-staked {
  height: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.key-key {
  color: #232735;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  display: grid;
  place-items: center;
}

.key-value {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.box {
  background-color: #ffffff;
  width: 100%;
  max-width: 352px;
  height: fit-content;
  height: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.card {
  width: calc(100% - 32px);
}

.card .box {
  margin: 0 auto;
}

.card-key {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.75px;
  text-transform: uppercase;

  color: #505565;
}

.card-value {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.75px;
  text-transform: uppercase;

  color: #232735;
}

.background {
}

.img-wrapper {
  overflow: hidden;
  -webkit-perspective: 500px;
  perspective: 500px;
}

.img-wrapper:hover .nft-card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.nft-card {
  -webkit-transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.back {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;

  background: linear-gradient(98deg, #5c1ee0 0%, #1373e4 100%);
  border-radius: 8px;
}

.nft-description {
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.slick-list {
  width: 100%;
}

.card-img {
  max-width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.card-description {
  display: flex;
  flex-direction: column;

  padding: 24px;

  row-gap: 8px;
}

.card-description_row {
  display: flex;
  justify-content: space-between;
}

.App {
  width: 100%;
  height: 320px;
  display: grid;
  place-items: center;
}

.footer {
  display: flex;
  padding: 60px 0;
  justify-content: center;
  column-gap: 32px;
}

.copyright {
  color: #8b90a0;
  font-size: 12px;
  line-height: 16px;
}

.error-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 150px 40px;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
}

@media screen and (max-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
  }

  .you-staked {
    flex-direction: row;
    align-items: center;
  }

  .you-staked_amount-container,
  .you-staked_countdown-container {
    display: flex;
    column-gap: 8px;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .you-staked_amount-container,
  .you-staked_countdown-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .rules-logic,
  .you-staked {
    text-align: start;
  }

  .header {
    border-bottom: 1px solid #f0f1f3;
    position: relative;
  }

  .background {
    padding-top: 32px;
  }

  .balance {
    position: absolute;
    width: fit-content;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 420px) {
  .header svg path:nth-child(1n) {
    display: none;
  }

  .header svg path:nth-of-type(1),
  .header svg path:nth-of-type(2) {
    display: unset;
  }

  .header svg {
    transform: scale(1.5) translateX(24px);
  }

  .rules-wrapper {
    flex-direction: column;
    row-gap: 12px;
  }

  .rules-text {
    width: 100%;
  }

  .rules-logic {
    width: 100%;
    align-items: flex-start;
    row-gap: 12px;
  }

  .rules-logic .pretty-button {
    align-self: end;
  }

  .rules-logic_distribution-container,
  .rules-logic_left-container {
    display: flex;
    column-gap: 8px;
  }

  .you-staked {
    flex-direction: column;
    row-gap: 16px;
    align-items: flex-start;
  }

  .you-staked .pretty-button {
    align-self: end;
  }

  .you-staked_amount-container,
  .you-staked_countdown-container {
    align-items: center;
    flex-direction: row;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }
}

@media screen and (max-width: 360px) {
  .header svg {
    transform: scale(1.5) translateX(16px);
  }

  .rules-logic,
  .you-staked {
    align-items: flex-end;
    row-gap: 24px;
  }

  .rules-logic_distribution-container,
  .rules-logic_left-container,
  .you-staked_amount-container,
  .you-staked_countdown-container {
    flex-direction: column;
    align-items: flex-end;
  }
}
